<launch>

  <arg name="model" default="$(find ld_visualisation)/urdf/LD_Platform.urdf"/>
  <arg name="gui" default="true" />
  <arg name="rvizconfig" default="$(find ld_visualisation)/config/ld_rviz_config.rviz" />

  <param name="robot_description" command="$(find xacro)/xacro '$(find ld_visualisation)/urdf/LD_Platform.urdf.xacro'" />
  <param name="use_gui" value="$(arg gui)"/>

  <!-- Params for visualisation in RVIZ -->
  <param name="pkg_name" value="ld_visualisation" />
  <param name="map_name" value="data.map" />
  <param name="head_frame" value="/pose" />
  <param name="vis_topic" value="visualization_marker" />
  <param name="points_a_colour" value="1.0" />
  <param name="points_r_colour" value="1.0" />
  <param name="points_g_colour" value="0" />
  <param name="points_b_colour" value="0" />
  <param name="lines_a_colour" value="1.0" />
  <param name="lines_r_colour" value="1.0" />
  <param name="lines_g_colour" value="0" />
  <param name="lines_b_colour" value="0" />

  <node name="joints_publisher" pkg="ld_visualisation" type="joints_publisher" output="screen"/>
  <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" />
  <node name="rviz" pkg="rviz" type="rviz" args="-d $(arg rvizconfig)" required="true" />
  <node name="data_points_marker" pkg="ld_visualisation" type="data_points_marker" output="screen"/>

</launch>

<!--
  <node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher" />
-->