<launch>

  <!-- BEGIN ROBOT 1-->
  <!-- <group ns="robot1"> -->
    <node name="undock_action_server" pkg="om_aiv_navigation" type="undock_action_server.py" output="screen" />

      <param name="ip_address" value="168.3.201.123" />
      <param name="port" value="7171" />
  <!-- </group> -->

</launch>
