<!-- <launch>
<node name="ld_status_publisher" pkg="om_aiv_util" type="ld_status_publisher.py" />
<node name="ld_status_publisher_2" pkg="om_aiv_util" type="ld_status_publisher_2.py" />
</launch> -->

<launch>

  <!-- BEGIN ROBOT 1-->
  <!-- <group ns="robot1"> -->
  <!-- <arg name="name" />
  <group ns="$(arg name)"> -->
    <node name="ld_topic_publisher" pkg="om_aiv_util" type="ld_topic_publisher.py" output="screen" />
    <node name="getInfo_publisher" pkg="om_aiv_util" type="getInfo_publisher.py" output="screen" />
    <node name="ld_status_publisher" pkg="om_aiv_util" type="ld_status_publisher.py" output="screen" />
    <node name="hardware_service_servers" pkg="om_aiv_util" type="hardware_service_servers.py" output="screen" />
    <node name="utilities_service_servers" pkg="om_aiv_util" type="utilities_service_servers.py" output="screen" />
    <node name="motion_service_servers" pkg="om_aiv_util" type="motion_service_servers.py" output="screen" />
    <node name="action_servers" pkg="om_aiv_navigation" type="action_servers.py" output="screen" />
      <!-- <param name="ip_address" value="168.3.201.123" />
      <param name="ip_address" value="172.21.5.123" />
      <param name="port" value="7171" /> -->
      <arg name="ip" />
      <param name="ip_address" value="$(arg ip)" />
      <param name="port" value="7171" />
  <!-- </group> -->


</launch>
